.field-wrapper{
  position: relative;
  flex-direction: column;
  display: flex;
  label{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #2C3F52;
    margin: 0 0 5px 0;
    span{
      color: #FF3B30;
    }
  }
  input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #B6C9D6;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #2C3F52;
    height: 40px;
    outline: none;
    &::placeholder{
      font-weight: 400;
      font-size: 19px;
      line-height: 26px;
      color: #ABB2BA;
    }
  }
  span{
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #2C3F52;
    margin: 0 0 0 5px;
    white-space: nowrap;
  }
  &.range-fields{
    display: flex;
    align-items: center;
    flex-direction: initial;
    span{
      margin: 0 10px!important;
    }
    .range-field{
      background: #FFFFFF;
      display: flex;
      align-items: center;
      border: 1px solid #B6C9D6;
      padding: 0 12px 0 0;
      input{
        border: none!important;
      }

      svg{
        margin: 0 0 0 5px;
        cursor: pointer;
      }
    }
  }
  .field-list{
    position: absolute;
    left: 0;
    z-index: 1;
    background: #FFFFFF;
    width: 100%;
    option{
      border-bottom: 1px solid #B6C9D6;
      cursor: pointer;
      padding: 7px 10px;
    }
  }
}


.field-error{
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #FF3B30;
}

@media (max-width: 680px){
  .field-wrapper{
    input{
      font-size: 14px;
      line-height: 19px;
      height: 35px;
      &::placeholder{
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  .field-error{
    font-size: 12px;
    line-height: 16px;
  }
}