.page-view{
  min-height: 100%;
  padding: 30px 0 70px 0;
  .page-view-inner{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    .inner-head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 30px 0;
      width: 100%;
    }
    .inner-content{
      .vacancy-view-content{
        background: #F4F5F6;
        border: 1px solid #E9EBED;
        .content-column{
          .column-item{
            padding: 30px 30px 20px 30px;
            border-bottom: 1px solid #E9EBED;
            &:last-child{
              margin: 0 0 30px 0;
            }
            .column-title{
              font-weight: 700;
              font-size: 32px;
              line-height: 35px;
              color: #000000;
              margin: 0 0 20px 0;
              span{
                color: #FF3B30;
              }
            }
            .column-field{
              margin: 20px 0 0 0;
              display: flex;
              flex-direction: column;
              &:first-child{
                margin: 0;
              }
              .flex-field{
                display: flex;
                align-items: center;
                margin: 0 0 11px 0;
                padding: 0 0 0 25px;
                span{
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 24px;
                  color: #2C3F52;
                  margin: 0 0 0 5px;
                }
              }
              label{
                cursor: pointer;
                font-weight: 700;
                font-size: 17px;
                line-height: 22px;
                color: #2C3F52;
                margin: 0 0 6px;
                input{
                  margin: 0 10px 0 0;
                }
                span{
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
      .content-action-bottom{
        display: flex;
        align-items: center;
        .action-cancel{
          display: flex;
          align-items: center;
          span{
            margin: 0 5px;
          }
          .action{
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            color: #FF3B30;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 980px){
  .page-view{
    .page-view-inner{
      padding: 0 50px;
    }
  }
}

@media (max-width: 768px){
  .page-view{
    .page-view-inner{
      padding: 0 40px;
    }
  }
}

@media (max-width: 680px) {
  .page-view{
    .page-view-inner{
      padding: 0 20px;
      .inner-head{
        flex-direction: column;
        margin: 0 0 20px 0;
        .page-title{
          margin: 0 0 20px 0;
          width: 100%;
          font-size: 24px;
          line-height: 26px;
        }
        .view-btn{
          width: 100%;
        }
      }
      .content-action-bottom{
        .view-btn{
          width: 100%;
        }
      }
    }
  }
}